.home-after-hero {
    margin-top: 88px;
}

@media (max-width: 899.98px) {
    .home-after-hero {
        margin-top: 24px;
    }
}

@media (min-width: 900px) {
    .home-after-hero {
        margin-top: 120px;
    }
}
